*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    /* cursor: none; */
}
body{
    background: linear-gradient(315deg, #6B73FF 0%, #000DFF 100%);
    width: 100vw;
    height: 100vh;
    
}
.avisoResponsividade{
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    
    align-items: center;
    font-weight: 500;
}
.conteiner{
    display: none;
}
.nav{
    display: none;
}
@media screen and (max-width:500px) {
    .avisoResponsividade{
        display: none;
    }
    body{
        overflow: hidden;
    }
    .nav{
        height: 120px;
        width: 100vw;
        /* background-color: red; */
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFF;
        
    }
    .menu{
        height: 48px;
        width: 48px;
        background: #191a1d15;
        margin-left: 24px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        position: relative;
        justify-content: center;
        overflow: hidden;

    }
    .notficacao{
         height: 48px;
        width: 48px;
        background: #191a1d15;
        
        margin-left: 0px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .user{
         height: 48px;
        width: 48px;
        background: #191a1d15;
        /* border: 2px #fff solid; */
        margin-right: 24px;
        border-radius: 50%;
        align-items: center;
        display: flex;
        justify-content: center;

    }
    .intes-esuqerdo-menu{
        display: flex;
        gap: 15px;
    }


    /* .menu span{
        display: block;
        width: 15px;
        height: 1px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% , -50%);
        border: 1px solid #FFF;

    }
    /* Rotacionar */
   /* .menu .linha-menu1{
        transform: rotate(75deg);
        
    }
    .menu .linha-menu2{
        transform: rotate(150deg);
    }  */


    /* Personalização Conteiner */
    @keyframes subirConteiner {
        from{
            transform: translate(0% , 100%);
        }
        to{
            transform: translate(0 , 0);

        }
    }
    .conteiner{
        overflow: hidden;
        width: 100vw;
        height: 90vh;
        border-radius: 32px 32px 0 0 ;
        background-color: white;
        animation: subirConteiner;
        animation-duration: 1s;
        color: #191A1D;
        display: block;
        
    }
    .ExploreTheBeautiful{
        font-weight: 400;
        font-size: 26px;
        width: 201px;
        margin-bottom: 27px;

    }
    
    .itens-conteiner{
        margin-left: 24px;
        padding-top: 40px;
        /* background-color: red; */
    }
    .subTituloExploreTheBeautiful{
        font-weight: 700;
        font-size: 16px;
        display: flex;
        width: 340px;
        /* background-color: red; */
        justify-content: space-between;
        margin-bottom: 16px;
    }
    .subTituloExploreTheBeautiful a{
        font-weight: 500;
        color: linear-gradient(315deg, #6B73FF 0%, #000DFF 100%);
    }
    /* Personalizando Lugar Viagem */

    .escolher-viagem{
        width: 253px;
        height: 400px;
        /* background-color: rgba(255, 0, 0, 0.363); */
        border-radius: 24px ;
        box-shadow: 0px 8px 64px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }
    .bkg-viagem1{
        border-radius: 24px ;

        height: 240px;
        color: white;
        width: inherit;
        background-image: url("/site de viagem/img/image-Viagem1.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15px;
    }
    .bkg-viagem2{
        border-radius: 24px ;

        height: 240px;
        color: white;
        width: inherit;
        background-image: url("/site de viagem/img/image-Viagem2.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 15px;
    }
    .categoriaViaem{
        width: 96.87px;
        height: 36px;
        font-weight: 600;
        font-size: 11px;
        background: #6b72ff28;
      /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius:100px ;
        margin-bottom: 8px;
    }
    .categoriaViaem a{
        color: #000DFF;
    }
    .escolher-viagem h1{
        width: 213px;
        font-weight: 700;
font-size: 14px;
    }
    .alinhamento-Viagem{
        padding-left: 16px;

    }
    .carrocel{
        display: flex;
        gap: 24px;
        margin-bottom: 15px;
    }
    .star{
        font-size: 13px;
        color:#F8D800 ; 
     }
     .avaliacao{
        margin-top: 16px;
     }
     .avaliacao p{
        font-size: 11px;
        margin-top: 8px;
     }
     .nav-inferior{
        /* background-color: red; */
        height: 10%;
        width: 100vw;
        font-size: 24px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
     }
     .nav-inferior i{
        color: rgba(25, 26, 29, 0.25);
        padding: 15px;
    }
    .fa-house.active{
        color :linear-gradient(135deg, #FDEB71 0%, #F8D800 100%);
        background: linear-gradient(315deg, #6B73FF 0%, #000DFF 100%);
        border-radius: 50%;
        

     }
    .conteinerViagem1{
        width: 100vw;
        height: 100vh;
        z-index: 2;
        position: absolute;
        transition: 1s;
        top: 110%;
        overflow:auto;
    }
    .conteinerViagem1.selecionado{
        top: 0%;
        
    }
    .bkg-img-selecionado{
        
        width: inherit;
        height: 310px;

        top: 0px;
        /* overflow: hidden; */
        z-index: 1;
    }
    .bkg-img-selecionado img{
        width: inherit;
        height: inherit;
    }
    .conteiner-fundo-branco{
        background-color: #fff;
        border-radius: 32px 32px 0 0 ;
        width: 100vw;
        height: 70vh;
        z-index: 5;
        position: absolute;
        bottom: -10%;
        /* background-color: red; */
    }
    .conteiner-itens-vaigem{
        position: absolute;
        left: 50%;
        top: 43%;
        transform: translate(-50% , -50%);
        width: 327px;
        /* background-color: red; */
    }
    .titulo-viagem{
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        width: inherit;
        margin-bottom: 15px;
    }
    .localizacao{
        color: rgba(25, 26, 29, 0.75);
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
    }
    .caracteristica-do-local{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    /* Descrição */

    .descricao h1{
        color: #191A1D;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 5px;
    }
    .descricao p{
        color: rgba(25, 24, 37, 0.75);
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
    }
    .descricao{
        margin-bottom: 15px;
    }
    .comprar{
       
        position: absolute;
        width: 327px;
        height: 64px;
        background: linear-gradient(135deg, #FDEB71 0%, #F8D800 100%);
        border-radius: 16px;
    }
    .comprar h1{
        color: #191A1D;
        width: inherit;
        height: inherit;
        align-items: center;
        display: flex;
        justify-content: center;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
    }
    .menu-lateral{
        width: 60%;
        height: 100vh;
        background-color: white;
        position: absolute;
        
        transform: translateX(-100%);
        transition: 500ms;
    }
    .menu-lateral.active{
        transform: translateX(0%);
    }
    .menu-lateral-conteiner{
        
        /* background-color: red; */
        width: 150px;
        
        position: relative;
        font-size: 8px;
        left: 50%;
        top: 25%;
        transform: translate(-50% , -50%);
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .menu-lateral-conteiner h1{
        text-align: center;
        margin-bottom: 10px;
    }
    .mudar-tema{
        width: 70px;
        height: 30px;
        background-color: #7c7979;
        border-radius: 15px;
        transition: 500ms;
    }
    .mudar-tema.ativado{
        background-color: #fcdf27;
    }
    .mudar-tema span{
        display: block;
        width: 23px;
        height: 23px;
        background-color: #f7f7f7;
        align-items: center;
        display: flex;
        
        justify-content: center;
        border-radius: 50%;
        /* posição desativado */
        margin-top: 3px;
        margin-left: 7px;
        transition: 500ms;

    }
    .mudar-tema span.ativado{
        margin-left: 40px;
        background-color: #191A1D;
        color: white;
    }
    .menu-lateral{
        display: none;
    }

}